* {
    margin: 0;
    padding: 0;
    font-family: 'VT323', 'Ubuntu Mono', 'Fira Mono';
}

.container {
    height: 100vh;
    background-image: url('images/city.gif');
    background-size: cover;
    /* background-position-y: 70%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    z-index: -1;
}

.title {
    margin-top: 12vh;
    font-size: 3em;
}

.test-area {
    width: 70vw;
    height: 60vh;
    box-sizing: border-box;
    padding: 2em;
    background-color: rgb(255, 255, 255, 0.8);
    margin: auto;
    text-align: left;
    color: rgb(2, 40, 90);
    overflow: auto;
}

@media only screen and (max-width: 800px) {

    .title {
        font-size: 2em;
    }

    .test-area {
        width: 80vw;
    }
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #b5e3f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0b7a9c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #006888;
}

/* BACKGROUND*/

.container {
    height: 100vh;
    background-image: url('images/city.gif');
    background-size: cover;
    /* background-position-y: 70%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    z-index: -1;
}

.title {
    margin-top: 12vh;
    font-size: 3em;
}

/* JAVASCRIPT TEST AREA */

.test-area {
    width: 70vw;
    height: 60vh;
    box-sizing: border-box;
    padding: 2em;
    background-color: rgb(255, 255, 255, 0.8);
    margin: auto;
    text-align: left;
    color: rgb(2, 40, 90);
    overflow: auto;
}


/* VISUAL NOVEL */

.btn{
    background-color: darkgreen;
    width: 100px;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 10px;
    display:inline-block;

}

/*.btn-container{
    display: flex;
    text-align: center;
    justify-content: center;
    color: white; 
}*/

/* .botton{
    display: flex;
    text-align: center;
    justify-content:center;
    color: white;
} */

.invisible {
    display: none;
}

.story {
    font-size:20px;
}

/*.story-window{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px;
    margin: 20px;
}*/